body {
    font-family: 'Arial', sans-serif;
    /*background:linear-gradient(to bottom, #db7b4f, #e2c7a6);*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(108, 117, 121);
}

.container {
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    text-align: left;
    position: relative;
    margin: 50px;
    background-image: url('background2.jpg');
    background-size:cover;
}

.header{
    text-align:center;
    margin:0 auto;
}

.circle-img {
    width: 200px;
    height: 200px;
    object-fit:cover;
    object-position: top;
    margin-bottom: 20px;
    border-radius:50%;
    
}
.contact-info{
    display:flex;
    align-items:center;
    margin-top:10px;
    justify-content:center;
    margin-bottom:20px;
    margin-top:20px;
    
}
.contact-info img{
    width:35px;
    height:35px;
    margin-right:10px;
    border-radius:50%;
    transition: transform 0.3s ease-in-out;
    
}
.contact-info img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.contact-info p{
    font-size:16px;
    margin:0;
}

.social-icons img {
    width: 35px;
    margin: 15px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
} 

.social-icons img:hover {
    transform: scale(1.2);
}


h1 {
    color: #a85817;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #555454;
    font-size: 24px;
}

.section {
    margin-top: 30px;
}

.section-text {
    font-size: 18px;
    line-height: 1.6;
}
.section-text ul a{
    text-decoration:none;
 
}

.section-text ul a:hover{
    text-decoration:underline;
    color:#a8ccd5;
   
}
.video a{
    text-decoration:none;
    
}
.video a:hover{
    text-decoration:wavy;
    color:aliceblue;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.section-text1{
    text-align:center;
    margin-left:-50px;
    color:#424242;
    font-size:20px;
}

.section-text1 ul {
    list-style-type:none;     
}

.section-box {
    background-color: #e5e7e7;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}
.section-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.section-box h2 {
    color: #565555;
    font-size: 24px;
    margin-bottom: 10px;
}

.section-box ul {
    list-style: none;
    padding: 0;
}

.section-box ul li {
    margin-bottom: 10px;
    color: #555555;
}


.images img{
    margin-top:5px;

    width:800px;;
    height:600px;
    position:absolute;

}

.button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-right:5px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
